<div class="container">
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-body-secondary">© 2025 Collin Joseph</span>
    </div>
    
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-body-secondary" href="https://www.linkedin.com/in/collinjoseph0258/" aria-label="LinkedIn">
          <svg class="bi" width="24" height="24" aria-hidden="true">
            <use xlink:href="images/linkedin.svg"></use>
          </svg>
        </a>
      </li>
      
      <li class="ms-3">
        <a class="text-body-secondary" href="https://github.com/collinapjoseph" aria-label="GitHub">
          <svg class="bi" width="24" height="24">
            <use xlink:href="images/github.svg"></use>
          </svg>
        </a>
      </li>
      
      <li class="ms-3">
        <a class="text-body-secondary" href="https://collinapjoseph.github.io" aria-label="Globe">
          <svg class="bi" width="24" height="24">
            <use xlink:href="images/globe-americas.svg"></use>
          </svg>
        </a>
      </li>
    </ul>
  </footer>
</div>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
  crossorigin="anonymous"></script>
