<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In - Trivia Builder</title>
</head>
<body>
    <h1>Log In</h1>
    <form action="/login" method="post">
        <label>
            Username
            <input name="username" type="text">
        </label>
        <br>
        <label>
            Password
            <input name="password" type="password">
        </label>
        <br>
        <input value="Log In" type="button">
    </form>
</body>
</html>